extends layout.pug

block content
  h1 About Us
  h2 Ceramic Tile Services, Inc.
  p Lamar Hughes, President and Founder of Ceramic Tile Services, Inc., started working in the family owned tile installation business that was founded in 1956. He saw the opportunity for the unique niche and need for a tile fabrication service.
  p Ceramic Tile Services was established in 1991 and over the last 25 years has grown constantly from the original 2000 sq. ft. shop. We have expanded into our current 48,000 sq. ft. facility in northeast Georgia, making us one of the largest fabrication facilities east of the Mississippi. Our highly trained operators use specialized equipment to custom create your orders to your specifications. You might hear a few “War Eagles” from Lamar, an Auburn graduate, but don’t hold that against him.
  p Please contact us to discuss your specific upcoming project to see how we can help you. Small or large orders are no problem. Our goal is to help you and we treat each project as the unique job that it is.
  h2 Mission Statement
  p Ceramic Tile Services is a family of dedicated individuals who work as one to provide our customers with quality on time orders. We pride ourselves on the caliber of our work and the efficiency with which we get the job done and we are genuinely committed to our customers’ success.
  iframe(width='560' height='315' src='/map.html' frameborder='0')