extends layout.pug

block content
	h1 Bullnose and Bullnose Corners
	p.q Have you ever needed bullnose in a size that was not available?
	p.q Ordered Bullnose that did not match the color of the field tile?
	p.q Have you ever needed Bullnose for a discontinued line of tile?
	p.q Or found that you have too much or not enough Bullnose?
	p At Ceramic Tile Services, we fabricate from your field tile so you always get a perfect color match. Bullnose is available in most any size. We can glaze the bullnosed edge so that it accents the face of the tile. You can order in any quantity so that you don't have to keep excess inventory.
	p Increase your bottom line by making your Bullnose from stock. We use your field tile to ensure the color match. We know this is important to your customers.
	p Call us when you need Bullnose for a discontinued line. We create glazed color to compliment the face of the tile. We specialize in creating a customized complimentary edge for your Bullnose. Tiles with patterns look great with a speckled edge.
	h2 You will NEVER have to tell a customer, “We don’t have a bullnose in that tile.”
	img(src='/images/bullnose1.jpg')
	img(src='/images/bullnose2.jpg')