extends layout.pug

block content
  h1 Contact Us
  form(method='post' action='/contact')
    div
      div.label Name:
      input(type='text' name='name')
    div
      div.label Company:
      input(type='text' name='company')
    div
      div.label Phone:
      input(type='text' name='phone')
    div
      div.label E-mail:
      input(type='text' name='replyto')
    div
      div.label Subject:
      input(type='text' name='subject')
    div
      div.label Message:
      textarea(rows='10' cols='40' name='message')
    div
      input.submitbutton(type='submit' name='submit' value='Submit')