extends layout.pug

block content
	h1 Custom Cutting
	p.q Have you needed tile that was not available in the size you want?
	p Ceramic Tile Services can custom fabricate from your field tile so you always get the sizes and quantity you need. You can order in most any quantity so that you don't have to keep excess inventory.
	h2 Cut to Size
	p Have a unique or unusual installation project in mind? Call us to see how we can help. We offer smaller quantities and specialized cutting for specific projects.
	img(src='/images/cutting1.jpg')
	img(src='/images/cutting2.jpg')
	img(src='/images/cutting3.jpg')