extends layout.pug

block content
	h1 Welcome to Ceramic Tile Services
	h2 CTS is ready to meet your custom tile cutting needs
	p Ceramic Tile Services has been in business since 1991. We use specialized equipment in our 48,000 sq. ft. facility in northeast Georgia to produce large and small orders from your porcelain, ceramic, granite, marble and stone tiles. We provide a variety of services to meet your needs.
	h2 At Ceramic Tile Services, we provide the following services from your field tile:
	ul
		li Bullnose
		li Mosaic
		li Custom Sizes
		li Stair Tread
		li Waterjet Cutting
	h2 Inventory Control
	p Order as needed to ensure you don’t end up with large overages or shortages. Increase your cash flow by reducing the size of your initial monetary investment. Order only what you need. We can also store your order and ship as needed.
	h2 Reduce your wait time
	p Quick turnaround to meet your needs. We work with you to meet your deadlines. Local area pick up and delivery service.
	h2 Contact us for a quote today
	h2 770-538-7855 or email sales@ceramictileservices.net
