doctype html
html
	head
		include head.pug
	body
		//-include analytics.pug
		.container
			header
				include header.pug
			.sidebar-left
				include sidebar-left.pug
			article.content
				block content
					div= pagecontent
			aside.sidebar-right
				include sidebar-right.pug
			footer
				include footer.pug