extends layout.pug

block content
	h1 Mosaics
	p.q Have you ever had a tile that you would like as a mosaic?
	p Ceramic Tile Services can produce mosaics from your field tile in most any size.
	p Some standard sizes we offer are 2&quot;x 2&quot; and 3&quot;x 3&quot;.
	p We also offer remounting of glass tiles or other tiles.
	img(src='/images/mosaics1.jpg')
	img(src='/images/mosaics2.jpg')
	img(src='/images/mosaics3.jpg')
	img(src='/images/mosaics4.jpg')
	img(src='/images/mosaics5.jpg')