extends layout.pug

block content
	h1 Other Services
	h2 Stair Tread
	p We use your tile to create Stair Tread so that any line will be available in with a stair tread.
	p Your through body tile will have a bullnose on the front edge and 3 to 5 squared grooves. You can determine the specs. This slip resistant tile will perfectly match the rest of the tile for the job.
	img(src='/images/other1.jpg')
	h2 Waterjet Cutting
	p Use your imagination. Waterjet cutting allows for a precise cut for intricate patterns or shapes. This highly versatile method can create unique custom pieces ready for installation. This is great for creating complex shapes or patterns.
	h2 Architectural Binders and Sample Boards
	p We can cut, mount and label your material to present to your customers. We are here to help you show those extra touches to grow your business.
	h2 Clipped Corners
	p More info coming soon