h4 Contact us:
- var faclasses = ['fa', 'fa-fw']
div.list-group
	p
		span.fa-phone(class=faclasses)
		|
		| 770-538-7855
	p
		span.fa-envelope(class=faclasses)
		|
		|
		a(href='/contact') Email
a.quotebutton(href='/quote') Request <br> a <br> quote