nav.c-site-nav
	ul
		li: a(href='/') Home
		li: a(href='/bullnose') Bullnose
		li: a(href='/mosaics') Mosaics
		li: a(href='/cutting') Custom Cutting
		li: a(href='/other') Other Services
		li: a(href='/about') About Us
aside